<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>registerlogin</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>LoginHttpServlet</servlet-name>
    <url-pattern>/LoginHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHttpServlet</servlet-name>
    <servlet-class>com.bridgelabz.registerlogin.controllers.LoginHttpServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.bridgelabz.registerlogin.controllers.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/RegisterHttpServlet</url-pattern>
  </filter-mapping>
    <listener>
    <listener-class>com.bridgelabz.registerlogin.controllers.SessionListener</listener-class>
  </listener>
</web-app>